            /* helpers/align.css */

            .align {
                background-color: #d5e1df;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
              }
              
              /* helpers/grid.css */
              
              .grid 
              {  margin-left: auto;
                margin-right: auto;
                max-width: 24em;
                width: 90%;
              }
              
              .grid1 {
                margin-left: auto;
                margin-right: auto;
                max-width: 40em;
                width: 120%;
              }
              
              /* helpers/icon.css */
              
              .icon {
                display: inline-block;
                height: 1.25em;
                line-height: 1.25em;
                margin-right: 0.625em;
                text-align: center;
                vertical-align: middle;
                width: 1.25em;
              }
              
              .icon--info {
                background-color: #e5e5e5;
                border-radius: 50%;
              }
              
              
              /* layout/base.css */
              
              *,
              *::before,
              *::after {
                -webkit-box-sizing: inherit;
                        box-sizing: inherit;
              }
              
              html {
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                height: 100%;
              }
              
              body {
                background-color: #eaeaea;
                font-family: 'Helvetica', 'Arial', sans-serif;
                font-size: 14px;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                margin: 0;
                min-height: 100%;
              }
              
              /* modules/anchor.css */
              
              a {
                color: inherit;
                text-decoration: none;
                -webkit-transition: color 0.3s;
                transition: color 0.3s;
              }
              
              a:hover {
                color: #1dabb8;
              }
              
              /* modules/form.css */
              
              fieldset {
                border: none;
                margin: 0;
              }
              
              input {
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                border: none;
                font: inherit;
                margin: 0;
                outline: none;
                padding: 0;
              }
              
              input[type='submit'] {
                cursor: pointer;
              }
              
              .form input[type='email'],
              .form input[type='text'],
              .form input[type='select'],
              .form input[type='password'] {
                width: 100%;
              }
              
              /* modules/login.css */
              
              .login__header {
                background-color: #282830;
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
                color: #fff;
                padding: 1.5em;
                text-align: center;
                text-transform: uppercase;
              }
              
              .login__title {
                font-size: 16px;
                font-size: 1rem;
                margin: 0;
              }
              
              .login__body {
                background-color: #fff;
                padding: 1.5em;
                position: relative;
              }
              
              .login__body::before {
                background-color: #fff;
                content: '';
                height: 0.5em;
                left: 50%;
                margin-left: -0.25em;
                margin-top: -0.25em;
                position: absolute;
                top: 0;
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                width: 0.5em;
              }
              
              .login input[type='email'],
              .login input[type='text'],
              .login input[type='select'],
              .login input[type='password'] {
                border: 0.0625em solid #e5e5e5;
                padding: 1em 1.25em;
              }
              
              .login input[type='email'] {
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
              }
              
              .login input[type='password'] {
                border-bottom-left-radius: 0.25em;
                border-bottom-right-radius: 0.25em;
                border-top: 0;
              }
              
              .login input[type='text'] {
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
              }
              
              .login input[type='select']{
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;  
              }
              
              .login input[type='submit'] {
                background-color: #1dabb8;
                border-radius: 0.25em;
                color: #fff;
                font-weight: 700;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                padding: 0.75em 1.25em;
                -webkit-transition: background-color 0.3s;
                transition: background-color 0.3s;
              }
              
              .login input[type='reset'] {
                background-color: #1dabb8;
                border-radius: 0.25em;
                color: #fff;
                font-weight: 700;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                padding: 0.75em 1.25em;
                -webkit-transition: background-color 0.3s;
                transition: background-color 0.3s;
              }
              
              .login input[type='submit']:focus,
              .login input[type='submit']:hover {
                background-color: #198d98;
              }
              
              .login input[type='reset']:focus,
              .login input[type='reset']:hover {
                background-color: #198d98;
              }
              
              
              .login__footer {
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background-color: #fff;
                border-bottom-left-radius: 0.25em;
                border-bottom-right-radius: 0.25em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                padding-bottom: 1.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
                
              }
              
              .login__footer p {
                margin: 0;
              }
              
              
              /*sidebar css*/
              
              .sidenav {
                  height: 100%;
                  width: 240px;
                  position: fixed;
                  z-index: 1;
                  top: 50px;
                  left: 0;
                  background-color: #111;
                  overflow-x: hidden;
                  padding-top: 20px;
              }
              
              /* Style the sidenav links and the dropdown button */
              .sidenav a, .dropdown-btn {
                  padding: 6px 8px 6px 16px;
                  text-decoration: none;
                  font-size: 20px;
                  color: #818181;
                  display: block;
                  border: none;
                  background: none;
                  width: 120%;
                  text-align: left;
                  cursor: pointer;
                  outline: none;
              }
              
              /* On mouse-over */
              .sidenav a:hover, .dropdown-btn:hover {
                  color: #f1f1f1;
              }
              
              /* Main content */
              .main {
                  margin-top: 50px;
                  margin-left: 200px; /* Same as the width of the sidenav */
                  font-size: 20px; /* Increased text to enable scrolling */
                  padding: 0px 10px;
              }
              
              /* Add an active class to the active dropdown button */
              .active {
                  background-color: #111;
                  color: #f1f1f1;
              }
              
              /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
              .dropdown-container {
                  display: none;
                  background-color: #262626;
                  padding-left: 8px;
                  word-wrap: normal;
              }

              /* Optional: Style the caret down icon */
              .fa-caret-down {
                  float: right;
                  padding-right: 8px;
              }
              
              /* Some media queries for responsiveness */
              @media screen and (max-height: 450px) {
                  .sidenav {padding-top: 15px;}
                  .sidenav a {font-size: 18px;}
              }
              
              
              /*horizontal navbar .css*/
              
              .alig{
                   margin-left: auto;
                   margin-right: auto;
                   height: 20px;
              }
              
              ul {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  overflow: hidden;
                  background-color: #111;
                  padding-top: 9.5px;
              }
              
              li {
                  float: right;
              }
              
              li a {
                  padding: 6px 8px 6px 16px;
                  text-decoration: none;
                  font-size: 20px;
                  color: #818181;
                  display: block;
              
              }
              
              li a:hover {
                  color: #f1f1f1;
              }
              
              /* logout .css*/
              .logout__body {
                background-color: #fff;
                padding: 1.5em;
                position: relative;
                text-decoration-color: black;
                font-size: 20px;
                box-shadow: 
              }
              
              .logout__background{
                background-color: #d5e1df;
              }
              
              .logout__footer{
                padding-bottom: 1.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
              }
              
              /* dropdown css*/
              
              .select {
                border: 1px solid #111;
                background: transparent;
                width: 100%;
                min-height: 100%;
                padding: 0;
                margin: 0;
                font-size: 16px;
                border: 1px solid #ccc;
                height: 34px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
              
               
               }
              
               .select_name{
                text-decoration-color: #E8E8E8;
               }
              
              /* create group .css*/
              .group_grid{
                left: 20%;
                margin-left: 50px;
              }
              
              fieldset {
                border: none;
                margin: 0;
              }
              
              input {
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                border: none;
                font: inherit;
                margin: 0;
                outline: none;
                padding: 0;
              }
              
              input[type='submit'] {
                cursor: pointer;
              }
              
              
              .group input[type='text'],
              .group input[type='select'],
               {
                width: 100%;
              }
              
              .group__header {
                background-color:   #A9A9A9;
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
                color: #fff;
                padding: 1.5em;
                text-align: center;
                text-transform: uppercase;
                margin-left: 200px;
                margin-top: 50px;
                margin-right: 50px;
              }
              
              .group__title {
                font-size: 16px;
                font-size: 1rem;
                margin: 0;
              }
              
              .group__body {
                background-color: #fff;
                padding: 1.5em;
                position: relative;
                margin-left: 200px;
                margin-right: 50px;  
              }
              
              .group__body::before {
                background-color: #fff;
                content: '';
                height: 0.5em;
                left: 50%;
                margin-left: -0.25em;
                margin-top: -0.25em;
                position: absolute;
                top: 0;
                -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                width: 0.5em;
              }
              
              .group input[type='text'],
              .group input[type='select'] {
                border: 0.0625em solid #e5e5e5;
                padding: 1em 1.25em;
              }
              
              .group input[type='text'] {
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
              }
              
              .group input[type='select']{
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;  
              }
              
              .group input[type='submit'] {
                background-color: #1dabb8;
                border-radius: 0.25em;
                color: #fff;
                font-weight: 700;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                padding: 0.75em 1.25em;
                -webkit-transition: background-color 0.3s;
                transition: background-color 0.3s;
              }
              
              .group input[type='submit']:focus,
              .group input[type='submit']:hover {
                background-color: #198d98;
              }
              
              .group__footer {
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                background-color: #fff;
                border-bottom-left-radius: 0.25em;
                border-bottom-right-radius: 0.25em;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                padding-bottom: 1.5em;
                padding-left: 1.5em;
                padding-right: 1.5em;
                margin-right: 50px;
                margin-left: 200px;
                
              }
              
              .group__footer p {
                margin: 0;
              }
              
              .button {
                background-color: #1dabb8;
                border-radius: 0.25em;
                color: #fff;
                font-weight: 700;
                -webkit-box-ordinal-group: 2;
                    -ms-flex-order: 1;
                        order: 1;
                padding: 0.75em 1.25em;
                -webkit-transition: background-color 0.3s;
                transition: background-color 0.3s;
              }
              
              
              /**/